[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cffi = "*"
loguru = "*"
fire = "*"
wrapt = "*"

[dev-packages]
pipenv-setup = "*"
apple-os-log-py = {editable = true, path = "."}
pytest = "*"
ptpython = "*"
sh = "*"
autopep8 = "*"
pytest-vscodedebug = "*"

[pipenv]
allow_prereleases = true

[scripts]
test = "./test.sh"
pytest = "./pytest.sh"
