[[source]]
url = "http://mirror.kakao.com/pypi/simple" #"https://pypi.org/simple"
# verify_ssl = true
name = "pypi"

[packages]
cffi = "*"
loguru = "*"
fire = "*"
wrapt = "*"

[dev-packages]
pipenv-setup = "*"
pytest = "*"
ptpython = "*"
autopep8 = "*"
pytest-vscodedebug = "*"

[pipenv]
allow_prereleases = true

[scripts]
test = "./test.sh"
pytest = "./pytest.sh"
